$primary:         #4766f8;
$secondary:       #5fcdf0;
$success:         #10e760;
//$info:            #5e5e5e;
////$warning:       $yellow !default;
$danger:          #d92905;
$light:           #fafafa;
//$dark:            #181A20;