@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import "~owl.carousel";

body {
  font-family: Arial, monospace;
}

.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 55;
}

.navbar-collapse {
  justify-content: center;
}

.sidebar {
  padding: 25px 25px;
  box-shadow: 5px 0 5px -3px rgba(0,0,0,0.7);
  height: 100vh;
  width: 250px;
}

.form-control {
  border-radius: revert;
  border: none;
  background-color: #c2c2c2;
  border-bottom: 2px solid black;
}

.btn {
  border-radius: revert;
  border-width: 3px;
  padding-left: 25px;
  padding-right: 25px;
}