@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import "~owl.carousel";

body {
  font-family: Arial, monospace;
}

.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 55;
}

.navbar-collapse {
  justify-content: center;
}

.sidebar {
  padding: 25px 25px;
  box-shadow: 5px 0 5px -3px rgba(0,0,0,0.7);
  height: 100vh;
  width: 250px;
}

.form-control, .form-control:focus {
  border-radius: revert;
  border: none;
  background-color: $light;
  border-bottom: 2px solid $secondary;
}

//.form-control:focus {
//  background-color: $primary;
//}

.btn {
  border-radius: 25px;
  border-width: 3px;
  padding-left: 25px;
  padding-right: 25px;
}

.input-error {
  border-color: $danger;
  color: $danger;
  animation: error_pulse 3s ease-in-out;
}

@keyframes error_pulse {
  0% {
    color: $danger;
    border-color: $danger;
  }
  50% {
    color: #930F1CFF;
    border-color: #930F1CFF;
  }
  100% {
    color: $danger;
    border-color: $danger;
  }
}

.dashboard-item {
  position: relative;
  background-color: $secondary;
  padding: 18px 22px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dashboard-item a {
  text-decoration: none;
  color: $primary;
  font-weight: bolder;
}